.w-bg-95{
    width: 95%;
    background-color: rgb(0, 206, 137);
    margin: auto;

}
.w-95{
    width: 95%;
    margin: auto;

}
.w-90{
    width: 90%;
    
    margin: auto;

}
.w-85{
    width: 85%;
    
    margin: auto;

}
.w-80{
    width: 80%;
    
    margin: auto;

}
.w-70{
    width: 70%;
    
    margin: auto;

}
.w-65{
    width: 65%;
    
}
.w-60{
    width: 60%;
    
}
.w-30{
    width: 30%;
    
}
body {
    font-family: "adobe-clean", sans-serif;
    margin: 0;
    background-color: rgb(128, 128, 50);
}

.txt_grey {
    color: grey;
}

.rounded_style {
    background-color: white;
    border-radius: 10px;
}

.grid_container {
    display: flex;
    grid-gap: 10px;
}

.inli_block {
    display: inline-flex;
}

